<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="/GymLife/img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>DAHA FAZLA FIRSAT İÇİN ŞİMDİ KAYDOLUN..</h2>
                    <div class="bt-tips">SAĞLIK, GÜZELLİK VE FİTNESS'IN BULUŞTUĞU YER!</div>
                    <a href="/Default/Index/" class="primary-btn  btn-normal">BİZE ULAŞIN</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->