@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" id="proBanner">
    <div class="col-12">
        <span class="d-flex align-items-center purchase-popup">
            <i class="mdi mdi-close" id="bannerClose"></i>
        </span>
    </div>
</div>
<div class="d-xl-flex justify-content-between align-items-start">
    <h2 class="text-dark font-weight-bold mb-2">İstatistikler</h2>
</div>
<div class="row">
    <div class="col-md-12">     
        <div class="d-sm-flex justify-content-between align-items-center transparent-tab-border">
            <ul class="nav nav-tabs tab-transparent" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-selected="false">Genel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="business-tab" data-toggle="tab" href="#business-1" role="tab" aria-selected="true">Ekip Bilgileri</a>
                </li>
            </ul>
            <div class="d-md-block d-none">
                <a href="#" class="text-light p-1"><i class="mdi mdi-view-dashboard"></i></a>
                <a href="#" class="text-light p-1"><i class="mdi mdi-dots-vertical"></i></a>
            </div>
        </div>
        <div class="tab-content tab-transparent-content">
            <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">

                @await Component.InvokeAsync("DashboardFirstPartial", new { pageName = "Genel" })

            </div>
            <div class="tab-pane fade" id="business-1" role="tabpanel" aria-labelledby="business-tab">

                @await Component.InvokeAsync("DashboardFirstPartial", new { pageName = "Ekip Bilgileri" })

            </div>

            @await Component.InvokeAsync("DashboardSecondPartial")

            @await Component.InvokeAsync("DashboardSecondPartial")
        </div>
    </div>
</div>



