@model EntityLayer.Concretes.Contact

@{
    ViewData["Title"] = "GetMessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Detayları</h4>
            <form class="forms-sample" method="get">
                <div class="form-group">
                    @Html.HiddenFor(c => c.ID)
                    <label for="exampleInputName1">İsim</label>
                    <input type="text" class="form-control" placeholder="İsim" asp-for="PersonName">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Email</label>
                    <input type="text" class="form-control" placeholder="Email" asp-for="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Tarih</label>
                    <input type="date" class="form-control" placeholder="Tarih" asp-for="Date">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Mesaj</label>
                    <textarea class="form-control" cols="10" rows="25" asp-for="Message"></textarea>
                </div>
                <a class="btn btn-outline-secondary mr-2" href="/Admin/Index/">Geri</a>
            </form>
        </div>
    </div>
</div>


