<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FitOn Gym</title>

    <link rel="shortcut icon" href="/GymLife/img/fiton-favicon.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/GymLife/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/GymLife/css/style.css" type="text/css">
</head>
