@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Html.PartialAsync("/Views/FrontPartials/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("/Views/FrontPartials/NavbarPartial.cshtml")

    @await Component.InvokeAsync("HomePagePartial")

    @await Component.InvokeAsync("AdvantagePartial")

    @await Component.InvokeAsync("CategoryPartial")

    @await Component.InvokeAsync("HomePagePartial1")

    @await Component.InvokeAsync("PlanPartial")

    @await Component.InvokeAsync("GalleryPartial")

    @await Component.InvokeAsync("TeamPartial")

    @await Component.InvokeAsync("AddressPartial")

    @await Html.PartialAsync("/Views/FrontPartials/FooterPartial.cshtml")

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    @await Html.PartialAsync("/Views/FrontPartials/ScriptPartial.cshtml")

    <script>
        $(document).ready(function() {
            $('.ts-item').each(function() {
                var bg = $(this).data('setbg');
                if (bg) {
                    $(this).css('background-image', 'url(' + bg + ')');
                }
            });
        });
    </script>

</body>

</html>
