@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="row">
        <h1>Excel Raporları</h1>
    </div>
    <br />
    <div class="row">
        <a href="/Report/StaticReport/" class="btn btn-outline-info">Statik Rapor</a>
    </div>
    <br />
    <div class="row">
        <a href="/Report/ContactReport/" class="btn btn-outline-warning">Mesaj Raporu</a>
    </div>
</div>

