@*
    Partial View
*@

<style>
    .sidebar {
        background-color: #181824;
    }
</style>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="icon-bg"><i class="mdi mdi-view-dashboard-outline menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>      
        <li class="nav-item">
            <a class="nav-link" href="/HomePage/Index/">
                <span class="icon-bg"><i class="mdi mdi-home menu-icon"></i></span>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About/Index/">
                <span class="icon-bg"><i class="mdi mdi-alert-circle-outline menu-icon"></i></span>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Gallery/Index/">
                <span class="icon-bg"><i class="mdi mdi-image-multiple menu-icon"></i></span>
                <span class="menu-title">Galeri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <span class="icon-bg"><i class="mdi mdi-apps menu-icon"></i></span>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <span class="icon-bg"><i class="mdi mdi-file-tree menu-icon"></i></span>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <span class="icon-bg"><i class="mdi mdi-account-multiple menu-icon"></i></span>
                <span class="menu-title">Ekip Bilgileri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <span class="icon-bg"><i class="mdi mdi-map-marker menu-icon"></i></span>
                <span class="menu-title">Adres Bilgileri</span>
            </a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="/Advantage/Index/">
                <span class="icon-bg"><i class="mdi mdi-pin menu-icon"></i></span>
                <span class="menu-title">Avantajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Plan/Index/">
                <span class="icon-bg"><i class="mdi mdi-tag menu-icon"></i></span>
                <span class="menu-title">Plan Ve Paketler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/SocialMedia/Index/">
                <span class="icon-bg"><i class="mdi mdi-soundcloud menu-icon"></i></span>
                <span class="menu-title">Sosyal Medya Hesapları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <span class="icon-bg"><i class="mdi mdi-email-variant menu-icon"></i></span>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Index/">
                <span class="icon-bg"><i class="mdi mdi-account-settings menu-icon"></i></span>
                <span class="menu-title">Admin Bilgileri</span>
            </a>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="/Profile/Index/" class="nav-link">
                    <i class="mdi mdi-settings menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="/Account/Logout/" class="nav-link">
                    <i class="mdi mdi-near-me menu-icon"></i>
                    <span class="menu-title">Siteye Git</span>
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="/Account/Logout/" class="nav-link">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </div>
        </li>
    </ul>
</nav>
